# dot files
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/simplefoc_stm32f103

/MDK-ARM
/MDK-ARM/simplefoc_stm32f103
MDK-ARM/simplefoc_stm32f103
MDK-ARM/simplefoc_stm32f103.uvguix.Administrator
MDK-ARM/simplefoc_stm32f103.uvguix.Administrator
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103_simplefoc_stm32f103.dep
MDK-ARM/simplefoc_stm32f103.uvguix.Administrator
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103_simplefoc_stm32f103.dep
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103.axf
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103.build_log.htm
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103.hex
MDK-ARM/simplefoc_stm32f103/simplefoc_stm32f103.htm
MDK-ARM/simplefoc_stm32f103/user_main.o
